@import "tailwindcss";


@theme {
    --font-parisienne: Parisienne, cursive;
    --font-abril: Abril Fatface, system-ui;
    --font-niconne: Niconne, cursive;
    --font-damion: Damion, cursive;
    --font-merriweather: Merriweather Variable, serif;
    --font-Whisper: Whisper, cursive;
    --font-Libre: Libre Baskerville, serif;
    --font-great-vibes: "Great Vibes", cursive;
    --font-josefin: "Josefin Sans", sans-serif;
    --color-rubor: #B46A7A;
    --color-ruborbg: #F2E5E9;
}